<app-header></app-header>
<ng-container *ngIf="router.url === '/login'; then login else block2"></ng-container>
  <ng-template #login>
    <app-login></app-login>
  </ng-template>
  <ng-template #block2>
    <ng-container *ngIf="router.url ==='/register'; then register else block3"></ng-container>
    <ng-template #register>
      <app-register></app-register>
    </ng-template>
    <ng-template #block3>
      <ng-container *ngIf="router.url === '/home'; then home else block4"></ng-container>
      <ng-template #home>
        <app-home></app-home>
      </ng-template>
      <ng-template #block4>
        <ng-container *ngIf="router.url === '/chargement'; then chargement"></ng-container>
        <ng-template #chargement>
          <app-chargement></app-chargement>
        </ng-template>
      </ng-template>
    </ng-template>
  </ng-template>




